/* F O N T S
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: beige;
  font-size: 62.5%;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-family: monospace;
}
.header {
  border-bottom: solid 1px black;
}
#wrapper {
  width: 66%;
  background-color: lightgray;
  max-width: 760px;
  margin: auto;
  border: solid black 1px;
  border-left: solid brown 4px;
  padding-left: 10px;
  font-size: 1.5em;
  color: black;
  font-family: Bookman;

}
.contact-list {
  list-style-type: none;
}
.contact-list li {

}
.contact-list a {
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
}
